.masthead {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.container.content {
  padding-top: 5rem;
}
.progress-bar{
  height: 2px;
  margin-bottom: -2px;
  /* Color is overridden from _config.yml or the page frontmatter */
  background: #268bd2;
  width: 0%;
}