            <div class="custom-footer">
              <hr>
              <div class="footer-social-icons">
                <ul class="social-icons">
                  {% for social_item in site.data.socialmedia %}
                    <li>
                      <a href="{{ social_item.url }}" rel="me" {% if social_item.url contains 'http' %} target="_blank" {% endif %} title="{{ social_item.title }}">
                        <i class="{{ social_item.class }} fa-2x"></i>
                      </a>
                    </li>
                  {% endfor %} 
                </ul>
              </div>
              {% if site.showcopyright.footer %}
                <h6 class="text-footer">
                  <a href="/disclosure/">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</a>
                </h6>
              {% endif %}
            </div>