---
layout: default
title: Connor's Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if post.modified.size > 2 %}
    <span class="post-date indexpg" itemprop="dateModified" content="{{ post.modified | date: "%Y-%m-%d" }}">
      <i class="fa fa-edit" title="Last updated"> {{ post.modified | date_to_string }}</i>
      {% if post.category contains "featured" %}
      <a href="/featured" title="Featured posts">
        <i class="fa fa-paperclip" title="Featured" class="social-icons"></i>
      </a>
      {% endif %}
    </span>
    {% else %}
    <span class="post-date indexpg" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
      <i class="fa fa-calendar" title="Date published"> {{ post.date | date_to_string }}</i>
      {% if post.category contains "featured" %}
      <a href="/featured" title="Featured posts">
        <i class="fa fa-paperclip" title="Featured" class="social-icons"></i>
      </a>
      {% endif %}
    </span>
    {% endif %}
    {% if post.description.size > 140 %}
    {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}
    {% else %}
    {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
    {% endif %}
  </div>
  <a href="{{ post.url }}"><strong>Read this post <i class="fa fa-chevron-right"></i></strong></a>
  {% unless forloop.last %}
  <hr class="transp">
  {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/blog/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
