<!DOCTYPE html>
<html lang="en-us">
<!--  
====================================================
Homepage: {{ site.url }}
Credits: {{ site.url }}/disclosure
====================================================
-->
{% include head.html %}

<body>

{% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            {% if site.tagline %}
              <small>{{ site.tagline }}</small>
            {% endif %}
            <div class="headicons">
              {% for item in site.header.icons %}
                <small><a href="{{ item.url }}" rel="me" title="{{ item.title }}"{% if item.external %} target="_blank"{% endif %}><i class="{{ item.class }}"></i></a></small>
              {% endfor %}
            </div>
           </h3>
        </div>
        {% if site.progressbar %}
          <div class="progress-bar"></div>
        {% endif %}
      </div>

      <div class="container content">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

    {% include scripts.html %}

    {% if site.progressbar and page.layout == "post" %}
    <!-- Progress bar script! -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
      {% include scripts/progressbar.js %}
    </script>
    {% endif %}
    
</body>
</html>
