<!DOCTYPE html>
<html lang="en-us">
<!--  
====================================================
Homepage: {{ site.url }}
Credits: {{ site.url }}/disclosure
====================================================
-->
{% include head.html %}

<body>

{% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            {% if site.tagline %}
              <small>{{ site.tagline }}</small>
            {% endif %}
            <div class="headicons">
              {% for item in site.header.icons %}
                <small><a href="{{ item.url }}" rel="me" title="{{ item.title }}"{% if item.external %} target="_blank"{% endif %}><i class="{{ item.class }}"></i></a></small>
              {% endfor %}
            </div>
           </h3>
        </div>
        {% if page.progressbar %}
        <div class="progress-bar" {% if page.progressbar.color %}style="background: {{ page.progressbar.color }};"{% endif %}></div>
        {% else %}
        {% for config in site.progressbar.configs %}
        {% if config.layout == page.layout %}
        <div class="progress-bar" {% if config.color %}style="background: {{ config.color }};"{% endif %}></div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      {% if page.banner.src %}
      <div class="banner"{% if page.banner.height %}style="height: {{ page.banner.height }};"{% endif %}>
        <img src="{{ page.banner.src }}"{% if page.banner.shift %}style="top: -{{ page.banner.shift }};"{% endif %}>
        {% if page.banner.text %}
        <div class="bannertext">{{ page.banner.text }}</div>
        {% endif %}
      </div>
      {% endif %}

      <div class="container content"{% if page.banner.src %}style="padding-top: 50px; padding-bottom: 70px;"{% endif %}>
        {{ content }}
        {% include footer.html %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
            var target = e.target;
            if (!checkbox.checked || sidebar.contains(target)
                || (target === checkbox || target === toggle))
              return;

            checkbox.checked = false;
          }, false);
      })(document);
    </script>

    {% include scripts.html %}

    {% if page.progressbar %}
    <script>
      {% include scripts/progressbar.js %}
    </script>
    {% else %}
    {% for config in site.progressbar.configs %}
    {% if config.layout == page.layout %}
    <script>
      {% include scripts/progressbar.js %}
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    
</body>
</html>
